{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block page_title %}{% trans 'password reset' %}{% endblock %}
{% block content %}

    <div class="container" style="color: white">
    <h3>{% trans 'reset password' %}</h3>
        <hr>
    <form action="" method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button class="btn" style="background-color: #6d534c;color: white" type="submit">{% trans 'change password' %}</button>
    </form>
    </div>
     <br><br><br><br><br>
{% endblock %}