{% extends '_base.html' %}
{% load i18n %}

{% block page_title %}{% trans 'About Us Page' %}{% endblock %}

{% block content %}
    <br>
    <div class="container rtl">
    <h3 style="color: whitesmoke">{% trans 'About Us Page' %}</h3>
    <hr>
    <p style="color: white">{% blocktrans %}Delicio is a distributor of premium chocolate, confectioneries and specialty foods from around the
        world. We pride ourselves in offering both exceptional products and customer service at highly competitive
        prices. Dedicated staff, ease-of-use, and premium offerings is what to expect when ordering from World Wide
        Chocolate. We strive to offer exceptional products sourced globally, packaged to meet your needs and delivered
        to your door or facility as quickly as possible. We appreciate the opportunity to serve your chocolate needs and
        will work hard to earn and maintain your trust as a valuable procurement resource.{% endblocktrans %}</p>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}