{% extends '_base.html' %}
{% load static %}
{% load i18n %}

{% block page_title %}{% trans 'Home Page' %}{% endblock %}

{% block content %}
    <!--flex-slider-->
<div class="main-flexslider">
    <ul class="slides">
        <li class="slides"><img src="{% static 'images/slide-01.jpg' %}" alt="slide 01">
        <div class="slide-caption">
            <h2>{% trans 'We are Delicio' %}</h2>
            <h2>{% trans 'ideal for every Chocoholic' %}</h2>
            <h2><a href="{% url 'product_list' %}">{% trans 'Go Shopping' %}</a></h2>
        </div>
        </li>
    </ul>
</div>
<!--end-flex-slider-->
    <!--articles-->
<div class="container">
    <div class="row articles">
        {% for category in categories %}
         <div class="col-md-3 col-sm-6">
            {% if category.cover %}
                <a href="{{ category.get_absolute_url }}"><img src="{{ category.cover.url }}" alt="img"></a>
             {% endif %}
            <div class="text">
                <a href="{{ category.get_absolute_url }}"><span>
                {{ category.get_name }}</span></a>
            </div>
        </div>
        {% endfor %}
    {% include 'shop_sidebar.html' %}
    </div>
</div>
<!--end-articles-->
{% endblock %}