{% load static %}
{% load i18n %}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>{% block page_title %}{% endblock %}</title>

    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" media="screen">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" media="screen">
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'css/flexslider.css' %}" type="text/css" media="screen"/>
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}" type="text/css" media="screen"/>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,800italic,400,300,600,700,800'
          rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/product-slider.css' %}" type="text/css" media="screen"/>

    <link rel="stylesheet" href="{% static 'css/comment.css' %}" type="text/css" media="screen"/>

    <link rel="stylesheet" href="{% static 'css/messages.css' %}" type="text/css" media="screen"/>


</head>
<body>

{% include 'header.html' %}

{% if messages %}
    <div class="container">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}

    </div>
{% endif %}

{% block content %}{% endblock %}

{% include 'footer.html' %}

<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/script.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.flexslider-min.js' %}"></script>
<script src="{% static 'js/modernizr.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.nouislider.min.js' %}"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{% static 'js/libs/jquery-1.7.min.js' %}">\x3C/script>')</script>
<script defer src="{% static 'js/jquery.flexslider.js' %}"></script>
<script type="text/javascript" src="{% static 'js/waypoint.min.js' %}"></script>
<script type="text/javascript">
    $(window).load(function () {
        $('.flexslider').flexslider({
            animation: "slide",
            controlNav: "thumbnails",
            start: function (slider) {
                $('body').removeClass('loading');
            }
        });
    });
</script>
<script type="text/javascript">
    // jQuery
    (function ($) {
        "use strict";
        $(document).ready(function () {
            // Main Slider
            $('.main-flexslider').flexslider({
                directionNav: true,
                controlNav: false,
                animation: "fade",
                slideshowSpeed: 7000,
                prevText: "",
                nextText: "",
            });
        });
    })(jQuery);
</script>
<script type='text/javascript' src=''></script>
<script type='text/javascript' src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js'></script>
<script type='text/javascript'></script>

<script>
    var m = document.getElementsByClassName("alert");  // Return an array

    setTimeout(function () {
        if (m && m.length) {
            m[0].classList.add('hide');
        }
    }, 2000);
</script>

</body>
</html>