{% load static %}
{% load i18n %}
<!--footer-->
<div class="full-footer">
    <div class="container-full">
        <div class="container info">
            <div class="row">
                <div class="col-md-4 addres">
                    <img src="{% static 'images/footer-logo.png' %}" alt="">
                    <h6>{% trans 'Delicio Website' %}</h6>
                    <p>
                        {% trans 'South Washington Street 828,Washington,USA' %}
                    </p>
                    <p>
                        {% trans 'Phone 0123 456 789/0123 456 788' %}
                    </p>
                </div>
                <div class="col-md-2 account">
                    <h4>{% trans 'my Account' %}</h4>
                    <ul>
                        <li><a href="#">{% trans 'cart' %}</a></li>
                        <li><a href="#">{% trans 'checkout' %}</a></li>
                        <li><a href="#">{% trans 'my accout' %}</a></li>
                    </ul>
                </div>
                <div class="col-md-2 assistance">
                    <h4>{% trans 'Informations' %}</h4>
                    <ul>
                        <li><a href="#">{% trans 'costumer assistance' %}</a></li>
                        <li><a href="#">{% trans 'delivery informations' %}</a></li>
                        <li><a href="#">{% trans 'international shipping' %}</a></li>
                    </ul>
                </div>
                <div class="col-md-4 about">
                    <h4>{% trans 'about us' %}</h4>
                    <p>
                        {% blocktrans %}Delicio is a distributor of premium chocolate, confectioneries and specialty foods
                        from around the world. We pride ourselves in offering both exceptional products and customer
                        service at highly competitive prices.{% endblocktrans %}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!--end-addres-->
    <div class="container">
        <div class="row bottom-strip">
            <div class="col-md-6 rights">
                <p>
                    {% trans 'Delicio Website' %}
                </p>
            </div>
            <div class="col-md-6 social">
                <ul>
                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa fa-asterisk"></i></a></li>
                    <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--end-footer-->