{% extends '_base.html' %}
{% load static %}
{% load i18n %}
{% block page_title %}{% trans 'Category list' %}{% endblock %}

{% block content %}

<div class="page-title">
    <div class="container">
        <div class="row">
            <div class="col-md-10 produti">
                <h4 style="margin-bottom: 34px">{% trans 'Categories' %}</h4>
            </div>
        </div>
    </div>
</div>
<!-- shop-page -->
<div class="container">
    <div class="row content">
        <div class="col-md-9 shop-section">
            <div class="row">
{#                <div class="col-md-12 latest">#}
{#                    <ul class="pagination-list pull-right">#}
{#                        <li><a class="active" href="#">1</a></li>#}
{#                        <li><a href="#">2</a></li>#}
{#                        <li><a href="#">3</a></li>#}
{#                        <li><a href="#">4</a></li>#}
{#                        <li><a href="#">5</a></li>#}
{#                    </ul>#}
{#                </div>#}
            </div>
            <!--articles-->
            <div class="row articles">
                {% for category in categories %}
                <div class="col-md-4 col-sm-6">
                    {% if category.cover %}
                    <a href="{{ category.get_absolute_url }}"><img src="{{ category.cover.url }}" alt=""></a>
                    {% endif %}
                    <div class="text">
                        <a href="{{ category.get_absolute_url }}"><span>
                        {{ category }} </span></a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <!--end-articles-->
        {% include 'shop_sidebar.html' %}
    </div>
</div>

{% endblock %}