{% extends '_base.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load comment_tags %}
{% load jalali_tags %}
{% load persian_translation_tags %}
{% load humanize %}

{% block page_title %}{% trans 'Product Detail' %}{% endblock %}

{% block content %}
    <div class="page-title">
        <div class="container">
            <div class="row">
                <div class="col-md-2 cart">
                    <h4>{% trans 'Product Detail' %}</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="container content">
        <div class="row">
            <div class="col-md-9 white-bg">
                <!-- Single Product -->
                <div class="single-product cold-md-12">
                    <div class="flexslider col-md-6">
                        <ul class="slides">
                            {% if product.image %}
                                <li data-thumb="{{ product.image.url }}">
                                    <img src="{{ product.image.url }}" alt=""/>
                                </li>
                            {% endif %}
                            {#                            <li data-thumb="{% static 'images/product-slide2.jpg' %}">#}
                            {#                                <img src="{% static 'images/product-slide2.jpg' %}" alt=""/>#}
                            {#                            </li>#}
                            {#                            <li data-thumb="{% static 'images/product-slide1.jpg' %}">#}
                            {#                                <img src="{% static 'images/product-slide1.jpg' %}" alt=""/>#}
                            {#                            </li>#}
                            {#                            <li data-thumb="{% static 'images/product-slide3.jpg' %}">#}
                            {#                                <img src="{% static 'images/product-slide3.jpg' %}" alt=""/>#}
                            {#                            </li>#}
                            {#                            <li data-thumb="{% static 'images/product-slide4.jpg' %}">#}
                            {#                                <img src="{% static 'images/product-slide4.jpg' %}" alt=""/>#}
                            {#                            </li>#}
                        </ul>
                    </div>
                    <div class="product-details col-md-6">
                        <h1>{{ product.title }}</h1>
                        <p class="price">
                            {% translate '$' %}{{ product.price|intcomma|translate_number }}
                        </p>
                        <p>
                            {{ product.description|safe }}
                        </p>
                        <form action="{% url 'cart:add_to_cart' product.id %}" method="post">
                            {% csrf_token %}
                            <div class="quantity buttons_added">
                                <input type="number" step="1"
                                       min="1"
                                       max="30" name="quantity"
                                       value="1"
                                       title="Qty"
                                       class="input-text qty text"
                                       size="4" pattern=""
                                       inputmode="">
                            </div>
                            <button class="btn" type="submit"
                                    style="background-color: #4a3631 ;color: white">{% translate 'Add to Cart' %}</button>
                        </form>
                        <hr>
                        <div class="availability">

                        </div>
                        <div class="reviews">
                            <ul>
                                <b>{% translate 'Score' %} </b>
                                <br><br>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- End Single Product -->
                </div>
                <div class="col-md-12 tabs">
                    <div class="bs-example">
                        <div class="tabbable">
                            <div class="shop-widget"><h4>{% trans 'Drop your comment' %}</h4></div>
                            <div class="tab-content">
                                <div id="tab1" class="tab-pane active fade in">
                                    <div class="container mt-5 mb-5">
                                        <div class="row height d-flex justify-content-center align-items-center">
                                            <div class="col-md-7">
                                                <div class="card">
                                                    <div class="p-3">
                                                    </div>
                                                    {% if user.is_authenticated %}
                                                        <div class="mt-3 d-flex flex-row align-items-center p-3 form-color">
                                                            <form action="{% url 'comment_create' product.id %}"
                                                                  method="post">
                                                                {% csrf_token %}
                                                                {{ comment_form|crispy }}
                                                                <button class="btn btn-success"
                                                                        type="submit">{% trans 'Post' %}</button>
                                                            </form>
                                                        </div>
                                                    {% else %}
                                                        <h3>{% trans 'You need to be logged in to drop comments, you can do so by clicking on ' %}<a
                                                                href="{% url 'account_login' %}"
                                                                style="color:#ff0208;">{% trans 'Login' %}</a></h3>

                                                    {% endif %}
                                                    <hr>
                                                    <div class="mt-2">
                                                        {% for comment in product.comments.all|only_active_comments %}
                                                            <div class="d-flex flex-row p-3">
                                                                <img
                                                                        src="{% static 'images/member1.jpg' %}"
                                                                        width="40"
                                                                        height="40"
                                                                        class="rounded-circle mt-3">
                                                                <br><br>
                                                                <div class="w-100">
                                                                    <div class="d-flex justify-content-between align-items-center">
                                                                        <div class="d-flex flex-row align-items-center">
                                                                            <h6>{{ comment.author|capfirst }} | <span
                                                                                    style="color: darkred"> {{ comment.datetime_created|to_jalali:'%Y %B %d _ %H:%M:%S'|translate_number }}</span>
                                                                            </h6>
                                                                        </div>

                                                                    </div>
                                                                    <br>
                                                                    <span>{{ comment.body|linebreaks }}</span>
                                                                    <br>
                                                                    <div class="d-flex flex-row user-feed"><span
                                                                            class="wish"><i
                                                                            class="fa fa-heartbeat mr-2"></i></span>
                                                                        <span>|</span>
                                                                        <span
                                                                                class="ml-3"><i
                                                                                class="fa fa-comments-o"
                                                                                style="color: red"></i></span>
                                                                        {% if comment.author == user %}
                                                                            <button class="badge"
                                                                                    style="background-color: #6d534c"><a
                                                                                    style="color: white"
                                                                                    href="{% url 'comment_update' comment.id %}">Edit</a>
                                                                            </button>
                                                                            <button class="badge"
                                                                                    style="background-color: #6d534c"><a
                                                                                    style="color: white"
                                                                                    href="{% url 'comment_update' comment.id %}">Delete</a>
                                                                            </button>
                                                                        {% endif %}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <hr>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--articles-->
            </div>
            <div class="col-md-3 shop-sidebar">
                <div class="sidebar-widgets">
                    <div class="shop-widget">
                        <h4>{% trans 'Categories' %}</h4>
                        <ul class="category-shop-list">
                            {% for category in categories %}

                                <li>
                                    <a class="accordion-link" href="#">{{ category }} <span>(4)</span></a>
                                    <ul class="accordion-list-content">
                                        {% for product in category.products.all %}

                                            <li><a href="{{ product.get_absolute_url }}">{{ product.title }}</a></li>
                                            <hr>

                                        {% endfor %}


                                    </ul>
                                </li>

                            {% endfor %}

                        </ul>
                    </div>
                    <div class="shop-widget">
                        <h4>{% trans 'Related Products' %}</h4>
                        <ul class="popular-product">
                            <li>
                                <img alt="" src="images/product.png">
                                <div>
                                    <h6><a href="#">Iphone 5 black</a></h6>
                                    <span>$766.00</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}